language: php

php:
 - 5.5
 - 5.6

before_script:
  - composer self-update
  - composer install --prefer-source --no-interaction
  - mysql -e 'create database plumage_dev;'
  - php artisan migrate --env=testing --force
  - php artisan db:seed --force

script: phpunit

matrix:
  fast_finish: true

notifications:
  on_success: never
  on_failure: always
