section.dashboard {

  form.addForm {
    input {
      position: relative;
      border-radius: 0;
      @include box-shadow(none);
      padding-right: 11%;
    }
    button {
      position: absolute;
      z-index: 2;
      right: 15px;
      top: 0;
      border-radius: 0;
    }
  }
  table {
    tbody {
      tr {
        td {
          position: relative;
          padding: 0;
          overflow-x: hidden;
          &:hover {
            background-color: $white;
          }
          a {
            font-size: 20px;
            display: inline-block;
            position: relative;
            width: 100%;
            height: auto;
            padding: 20px 10px 20px 20px;
            margin-left: 45px;
            &:before {
              content: attr(title);
              position: absolute;
              display: inline-block;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: lighten($blue, 5%);
              color: $white;
              overflow: hidden;
              font-size: 20px;
              padding-top: 6px;
              padding-left: 13px;
              margin-left: -50px;
              margin-top: -5px;
              letter-spacing: 20px;
              text-transform: uppercase;
            }
            &:hover {
              text-decoration: none;
              &:before {
                background-color: darken($blue, 10%);
              }
            }
          }
          .btn-delete {
            font-size: 25px;
            border-radius: 0;
            position: absolute;
            right: 20px;
            top: 50%;
            margin-top: -20px;
            i {
              color: $red;
              &:hover {
                color: darken($red, 10%);
              }
            }
          }
        }
        &:nth-child(even) {
          td {
            a {
              color: $pink;
              &:before {
                background-color: lighten($pink, 10%);
              }
            }
          }
        }
      }
    }
  }
}