section#home {
  margin: 15px 0;
  text-align: center;
  .logo {
    margin: 100px 0 50px 0;
  }
  form.loginForm {
    max-width: 400px;
    background-color: $white;
    padding: 30px;
    margin: 0 auto;
    border: 5px solid;
    border-color: darken($lightGray, 5%);
  }
}