#sites-edit {
  div.form-group {
    overflow: hidden;
    clear: both;
  }
  ul {
    list-style: none;
    padding-left: 0px;
    &#sortable {
      margin-top: 25px;
    }
    li {
      overflow: hidden;
      cursor: pointer;
    }
  }
}

nav {
  height: auto;
  .navbar-header {
    .navbar-brand {
      height: auto;
      img {
        width: 50px;
        height: auto;
      }
    }
  }
  ul {
    height: 80px;
    li {
      vertical-align: middle;
      display: inline-block;
      line-height: 80px;
      height: 80px;
      a {
        height: 80px;
        line-height: 80px !important;
        padding-top: 0 !important;
      }
    }
  }
}

section#home {
  text-align: center;
}