body, html {
  height: 100%;
}

body {
  background-color: $lightGray;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -40px;
}

.footer, .wrapper:after {
  height: 40px;
}

// Global //
.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.form-control {
  border-radius: 0;
  min-width: 30px;
  padding: 6px 2px;
  @media(max-width: 767px) {
    font-size: 16px;
  }
}

textarea {
  width: 100%;
  min-height: 100px;
}

.view {
  padding-bottom: 80px;
}

// Smaller logo for interior pages
.logo {
  background-color: #F0F0EF;
  padding: 20px 0;
  img {
    width: 50px;
    height: 57px;
  }
}

// Navigation //
nav.navbar-default {
  height: auto;
  border-radius: 0px;
  .navbar-header {
    .navbar-brand {
      height: auto;
      img {
        width: 50px;
        height: auto;
      }
    }
  }
  ul {
    height: 80px;
    li {
      vertical-align: middle;
      display: inline-block;
      line-height: 80px;
      height: 80px;
      a {
        height: 80px;
        line-height: 80px !important;
        padding-top: 0 !important;
      }
    }
  }
}

.panel {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 0;
}

.section {
  padding: 15px 15px;
}

.table-fixed-header-wrap {
  position: relative;
  .table {
    max-width: none;
  }
}

.table-fixed-header {
  margin-top: -149px;
  position: absolute;
  top: 0;
  background: #F0F0EF;
  z-index: 1;
  opacity: 0;
  &.active {
    opacity: 1;
  }
  thead > tr > td {
    border-bottom-width: 2px;
    background: #F0F0EF;
  }
  @media(max-width: 767px) {
    margin-top: -112px;
  }
}

.form-inner-wrapper {
  margin: 15px auto 0 auto;
  overflow-x: scroll;
  overflow-y: hidden;
}

// Footer //
.footer-content {
  text-align: center;
}

@media(max-width: 767px) {
  #container {
    .logo-container {
      padding-left: 0;
      padding-right: 0;
      .logo {
        z-index: 3;
        width: 100%;
        position: fixed;
        img {
          height: 33px;
          width: auto;
        }
      }
    }
    .view {
      margin-top: 100px;
    }
    .menu-btn {
      background-color: #F0F0EF;
    }
  }
}
