// Global //
.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

textarea {
  width: 100%;
  min-height: 100px;
}

// Navigation //
nav.navbar-default {
  height: auto;
  border-radius: 0px;
  .navbar-header {
    .navbar-brand {
      height: auto;
      img {
        width: 50px;
        height: auto;
      }
    }
  }
  ul {
    height: 80px;
    li {
      vertical-align: middle;
      display: inline-block;
      line-height: 80px;
      height: 80px;
      a {
        height: 80px;
        line-height: 80px !important;
        padding-top: 0 !important;
      }
    }
  }
}

// Section Layouts //
section#home {
  text-align: center;
}

#sites-edit {
  .add-fields {
    button {
      display: inline-block;
      position: relative;
    }
    form {
      width: 100%;
      display: inline-block;
      position: relative;
    }
  }
  .checkbox {
    label {
      margin-top: 20px;
    }
  }
  a.remove {
    float: right;
    margin-top: 25px;
  }
  div.form-group {
    overflow: hidden;
    clear: both;
  }
  ul {
    list-style: none;
    padding-left: 0px;
    &#sortable {
      margin-top: 25px;
    }
    li {
      overflow: hidden;
      cursor: pointer;
    }
  }
}

section#project {
  form {
    margin-top: 25px;
    margin-bottom: 25px;
    div.form-inner-wrapper {
      overflow-y: hidden;
      overflow-x: scroll;
    }
    button {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
  a.new-item {
    margin-right: 10px;
  }
  .types {
    .the-type {
      padding-top: 5px;
      display: inline-block;
    }
    .buttons {
      a.btn {
        padding: 3px 10px;
      }
    }
  }
}