.pushy {
  position: fixed;
  width: 200px;
  height: 100%;
  top: 0;
  z-index: 9999;
  background: $purple;
  font-size: 0.9em;
  font-weight: bold;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  ul {
    margin: 0;
    padding: 0;
    li {
      a {
        width: 100%;
        display: block;
        color: $white;
        padding: 15px 30px;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        border-top: 1px solid rgba(255, 255, 255, .1);
        text-decoration: none;
        &:hover {
          background: $pink;
        }
        i {
          margin-right: 10px;
        }
      }
    }
  }
  &.pushy-left {
    @include translate3d(-200px, 0, 0);
  }
  &.pushy-open {
    @include translate3d(0, 0, 0);
  }
}

/*
====================
Menu Movement
==================== */

#container {
  &.container-push {
    @include translate3d(200px, 0, 0);
  }
}

/*
====================
Menu Transitions
==================== */

.pushy, #container, .push{
  -webkit-transition: -webkit-transform .2s cubic-bezier(.16, .68, .43, .99);
  -moz-transition: -moz-transform .2s cubic-bezier(.16, .68, .43, .99);
  -o-transition: -o-transform .2s cubic-bezier(.16, .68, .43, .99);
  transition: transform .2s cubic-bezier(.16, .68, .43, .99);
}

/*
====================
Menu Toggle Button
==================== */

.menu-btn {
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  color: $blue;
  i {
    font-size: 30px;
    &:hover {
      color: $pink;
    }
  }
}

/*
====================
Nav Overlay
==================== */

.site-overlay{
  opacity: 0;
}

.pushy-active .site-overlay{
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  opacity: 1;
  background-color: rgba(255,255,255,0.5);
  @include animation(fade, 0s, 0s, 1s)
}

/*
====================
Breadcrumbs
==================== */

.breadcrumb {
  margin: 0;
  background-color: $lightGray;
}
