section.project {
  form {
    margin-top: 25px;
    margin-bottom: 25px;
    div.form-inner-wrapper {
      overflow-y: hidden;
      overflow-x: scroll;
    }
    button {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
  a.js-new-item {
    margin-right: 10px;
  }
  .types {
    .the-type {
      padding-top: 5px;
      display: inline-block;
    }
    .buttons {
      a.btn {
        padding: 3px 10px;
      }
    }
  }
}