section.project {

  /*
  ====================
  Add Type Table
  ==================== */

  form.addType, form.add-access {
    input {
      position: relative;
      border-radius: 0;
      @include box-shadow(none);
      padding-right: 11%;
    }
    button {
      position: absolute;
      z-index: 2;
      right: 15px;
      top: 0;
      border-radius: 0;
    }
    .form-group {
      margin-bottom: 0;
    }
  }
  a.new-item {
    margin-right: 10px;
  }
  button.btn-save {
    margin-left: 10px;
  }
  .form-inner-wrapper {
    margin: 15px auto 0 auto;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  table {
    tbody {
      tr {
        td {
          padding: 0;
          position: relative;
          overflow-x: hidden;
          a {
            float: left;
            vertical-align: middle;
            padding: 10px;
            &.the-type {
              width: 100%;
              display: inline-block;
            }
            &.btn-delete {
              color: $red;
              font-size: 20px;
              margin-top: -2px;
              &:hover {
                color: darken($red, 10%);
              }
            }
          }
          &:hover {
            background-color: $white;
          }
          .buttons {
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -13px;
            a {
              margin-right: 20px;
              padding: 0;
            }
          }
        }
      }
    }
  }

  /*
  ====================
  User Access Table
  ==================== */

  .user-access {
    table {
      margin-bottom: 0;
      tr {
        td {
          font-size: 14px;
          padding: 8px 8px 5px 8px;
          text-align: center;
          vertical-align: middle;
          a {
            display: inline-block;
          }
          button {
            &.btn-edit {
              color: $blue;
              @include box-shadow(none);
            }
            &.btn-delete {
              color: $red;
              font-size: 20px;
            }
          }
        }
      }
    }
  }

  form.add-access {
    width: auto;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 0;
    position: relative;
    select {
      width: 100%;
      height: 34px;
      -webkit-appearance: none;
      border-radius: 0;
      border-top: none;
      border-bottom: 1px solid #ccc;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      padding: 5px 20px;
    }
    button {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  /*
  ====================
  Manage Type Table
  ==================== */

  form.manageType {
    table {
      margin-bottom: 0;
      thead {
        tr {
          td {
            text-align: center;
          }
        }
      }
      tbody {
        tr {
          td {
            padding: 8px 8px 0 8px;
            text-align: center;
            a.btn-delete {
              width: 100%;
              color: $red;
              font-size: 20px;
            }
            input {
              border-radius: 0;
            }
          }
        }
      }
    }
    .bottom-buttons {
      padding-top: 20px;
      button {
        margin: 0 0 50px 0;
        &.btn-save {
          margin-left: 0;
        }
      }
    }
  }

}
