section.project {
  form.addType {
    input {
      position: relative;
      border-radius: 0;
      @include box-shadow(none);
      padding-right: 11%;
    }
    button {
      position: absolute;
      z-index: 2;
      right: 15px;
      top: 0;
      border-radius: 0;
    }
    .form-group {
      margin-bottom: 0;
    }
  }
  a.new-item {
    margin-right: 10px;
  }
  .form-inner-wrapper {
    margin: 15px auto;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .types {
    .the-type {
      padding-top: 5px;
      display: inline-block;
    }
    table {
      tbody {
        tr {
          td {
            position: relative;
            overflow-x: hidden;
            a {
              float: left;
              margin-right: 20px;
              vertical-align: middle;
              &.the-type {
                width: 100%;
                height: auto;
                display: inline-block;
              }
              &.btn-delete {
                color: $red;
                font-size: 20px;
                margin-top: -2px;
                &:hover {
                  color: darken($red, 10%);
                }
              }
            }
            &:hover {
              background-color: $white;
            }
            .buttons {
              position: absolute;
              right: 0;
              top: 50%;
              margin-top: -13px;
            }
          }
        }
      }
    }
  }
  .user-access {
    table {
      margin-bottom: 0;
    }
  }
  .add-access {
    width: auto;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
  }
  form.manageType {
    table {
      tr {
        td {
          text-align: center;
          a.btn-delete {
            color: $red;
            font-size: 20px;
          }
        }
      }
    }
  }
}