section.sites-edit {
  .buttons {
    margin-bottom: 15px;
    button {
      margin-left: 10px;
    }
  }
  .bottom-buttons {
    button {
      margin: 0 0 50px 10px;
    }
  }
  form#fields {
    width: 100%;
    display: inline-block;
    position: relative;
    div.form-group {
      overflow: hidden;
      clear: both;
      input {
        border-radius: 0;
      }
      &.values {
        padding-left: 50px;
        .btn-delete {
          color: $red;
          margin-top: 35px;
          display: inline-block;
        }
        .js-add-value {
          margin-left: 15px;
        }
      }
    }
    button {
      display: inline-block;
      position: relative;
    }
    .checkbox {
      label {
        margin-top: 20px;
      }
    }
    ul {
      list-style: none;
      padding-left: 0px;
      &#sortable {
        margin-top: 25px;
        li.field-row {
          padding: 10px 0 0 0;
          &:nth-child(even) {
            background-color: $white;
          }
          .delete-row {
            text-align: right;
            .btn-delete {
              margin-top: 25px;
              margin-right: 25px;
              color: $red;
              font-size: 20px;
              display: inline-block;
            }
          }
        }
      }
      li {
        overflow: hidden;
        cursor: pointer;
      }
    }
  }
}
