@import "normalize";
@import "compass/css3";
@import "compass/utilities/sprites";
@import "compass/utilities/general/clearfix";

/* SVG Gradients in Opera & IE9 */
$experimental-support-for-svg: true;

/* Sprites (uncomment if sprites are used)
@import "ui/*.png";
@include all-ui-sprites;
*/

/* RGBAPNG */
$rgbapng_path: 'generated';
$rgbapng_px_size: 1;
@import "rgbapng";

/* SCSS Modules */
@import "bootstrap";
@import "colors";
@import "typography";
@import "mixins";
@import "animations";
@import "nav";

/* Views */
@import "layout";
@import "home";
@import "dashboard";
@import "project";
@import "sites";